@import "style.css";
.cards-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card
{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    border-radius: 6px;
    padding: 1.5rem;
    cursor: pointer;
}
.card-img
{
    width: 54px;
    height: 60px;
    /* background-color: #00FFFF; */
}
.card-img-1
{
    background-image: url("../images/third-section-images/idea.png");
}
.card-img-2
{
    background-image: url("../images/third-section-images/car.png");
}
.card-img-3
{
    background-image: url("../images/third-section-images/neural-network.png");
}
.card-1,
.card-2,
.card-3,
.card
{
    transition: 0.3s;
}
.card-1:hover
.card-img-1
{
    background-image: url("../images/third-section-images/idea-white.png");

}
.card-2:hover
.card-img-2
{
    background-image: url("../images/third-section-images/car-white.png");
}

.card-3:hover
.card-img-3
{
    background-image: url("../images/third-section-images/neural-network-white.png");
}

.card:hover
{
    background-color: var(--main-light-blue);
}
.card-text
{
    text-align: left;
    color: var(--slate-gray);
    margin-top: 0.5rem;
}
.card:hover
.card-text
{
    color: var(--main-white);
}
.card-text
h3
{
    font-family: ubuntu-regular;
    font-size: 24px;
    letter-spacing: 2px;
}
.card-text
p
{
    font-family: open-sans-regular;
    font-size: 14px;
    line-height: 1.2rem;
    max-width: 226px;
    margin-top: 3rem;
}